body, html {
  width: 100vw;
  height: 100vh;
}

#root {
  width: inherit;
  height: inherit;
}

.app {
  width: 300px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
